<template>
    <div>
      <p><b>Open Auctions</b></p> </br>
      <table class="table" border="1">
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Closing Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in items">
              <td>{{ item.description }}</td>
              <td>{{ item.price }} &euro;</td>
              <td>{{ item.closing_date }}</td>
              <td><span  v-on:click="auctionSelect(item)" >Select</span></td>
            </tr>
          </tbody>
        </table>




        <form action="/items/details" method="get">
          <input type="hidden" class="form-control" id="id" name="id" v-model="id"/>
          <input type="hidden" class="form-control" id="description" name="description" v-model="description"/>
          <br>
          <div class="row">
            <div class="col-md-6">
              <input type="hidden" class="form-control" id="price" name="price" v-model="price"/>
            </div>
            <div class="col-md-6">
              <input type="hidden" class="form-control" id="closing_date" name="closing_date" v-model="closing_date"/>
            </div>
          </div>
          <br>
          <input v-if="selected" type="submit" class="btn btn-primary col-md-12" />
        </form>


    </div>
  </template>
  
  <script>
    import axios from "axios";
    export default {
      data: function() {
        return {
          items: [],
          description: "",
          price: "",
          closing_date: "",
          id: "",
          selected: false
        }
      },
      mounted: function() {
      const vm = this;
      axios.post("api/items", {})
        .then(response => {
            vm.items = response.data.items;
        }).catch(error => {
            console.log(error);
        });
    },
    methods: {
      auctionSelect: function(item) {
        this.id = item.id;
        this.description = item.description;
        this.price = item.price;
        this.closing_date = item.closing_date;
        this.selected = true;
      }
    }
    }
  </script>
  