<template>
    <div>
      <p><b>Auction details</b></p> </br>

      <p>Description: {{description}}</p> </br>
      <p>Closng date: {{closing_date}}</p> </br>
      <p>Current price: {{price}}</p></br>

      <form action="/api/items/update" method="post">
        <input type="hidden" id="id" name="id" v-model="id" /> 
        <input type="number" id="bid" name="bid" v-model="bid" /> 
        <input type="submit" v-if="bidGreater"/>
        <input type="submit" v-if="!bidGreater" disabled value="Place Bid"/>
      </form>

      <span v-if="!bidGreater">Bid is equal or less than current price</span>
      </br>
      <a href="/items"> Go Back</a>
    </div>
  </template>
  
  <script>
    import axios from "axios";
    export default {
      data: function() {
        return {
          description: "",
          price: "",
          closing_date: "",
          bid: 0,
          id: ""
        }
      },computed: {
    // a computed getter
    bidGreater: function () {
      // `this` points to the vm instance
      return (parseFloat(this.bid) > parseFloat(this.price))
    }
    },
      mounted: function() {
      var params = window.location.href.split('?')[1].split('&');
      this.id = params[0].split('=')[1].replace('+', ' ')
      this.description = params[1].split('=')[1].replace('+', ' ')
      this.price = params[2].split('=')[1].replace('+', ' ')
      this.closing_date = params[3].split('=')[1].replace('+', ' ')
      const vm = this;
    },
    methods: {
      bidUpdate: function(item) {
        const vm = this;
      axios.post("api/items/update", {})
        .then(response => {
            vm.items = response.data.items;
        }).catch(error => {
            console.log(error);
        });
      }
    }
    }
  </script>
  